@model IEnumerable<SisMed.Application.ViewModels.ListarMedicoViewModel>

@{
    ViewData["Title"] = "Médico";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <form asp-action="Index">
                            <div class="input-group input-group-sm" style="width: 300px">
                                <input type="text" class="form-control" placeholder="Buscar Médico" name="filtro" value="@ViewBag.Filtro"/>
                                <div class="input-group-append">                                    
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        @Html.ActionLink("Novo Médico", "Adicionar", "Medico",new{}, new{ @class = "btn btn-outline-primary btn-sm" })
                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    CRM 
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Nome
                                    </td>
                                    <td>
                                        @item.CRM
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="Id">Edit</a>
                                        <a asp-action="Details" asp-route-id="Id">Details</a>
                                        <a asp-action="Delete" asp-route-id="Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        @if(@ViewBag.Pagina > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "Medico", new { filtro = @ViewBag.Filtro, page = @ViewBag.Pagina - 1 })">
                                    &laquo;
                                </a>
                            </li>                            
                        }

                        <li class="page-item page-link">Página @ViewBag.Pagina de @ViewBag.TotalPaginas</li>

                        @if (@ViewBag.Pagina < @ViewBag.TotalPaginas)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "Medico", new { filtro = @ViewBag.Filtro, page = @ViewBag.Pagina + 1 })">
                                    &raquo;
                                </a>
                            </li>
                        }
                    </ul>  
                </div>
            </div>
        </div>
    </div>
</div>
